{% extends ":office:base.html.twig" %}

{% block body %}
    <div id="p-main" class="p-main">
        {% for flashMessage in app.session.flashbag.get('success') %}
            {% include ':office:alert_success.html.twig' with {'message' : flashMessage} %}
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('error') %}
            {% include ':office:alert_error.html.twig' with {'message' : flashMessage} %}
        {% endfor %}

        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <span id="deposit-funds-header">
                        <div class="p-inside-transactions-header">{{ 'office.layout.help'|trans }}</div>
                    </span>
                    <div class="panel-body">
                        <div style="margin-top: 20px">
                            {% for help in helps %}
                            <div style="color: #00539e; font-size: 16px; margin-left: 20px; font-style: italic">
                                {{ help.title }}
                            </div>
                            <div style="margin-left: 20px; font-size: 14px; margin-top: 5px">
                                {{ help.text|raw }}
                            </div>
                            <div style="height: 30px"></div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}